<configuration>
  
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <appSettings>
    <add key="CategoryCommander" value="akka.tcp://magazine-system@localhost:8092/user/category-commander" />
    <add key="CategoryQuery" value="akka.tcp://magazine-system@localhost:8092/user/category-query" />
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            suppress-json-serializer-warning = on
            loglevel = INFO
            serializers {
              wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
            }
            serialization-bindings {
              "Cik.Magazine.Core.Views.CategoryViewResponse, Cik.Magazine.Core" = wire
            }
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
              debug {  
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
						}
						remote {
							helios.tcp {
                transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
		            applied-adapters = []
		            transport-protocol = tcp
								port = 0
                hostname = localhost
							}
						}
            log-remote-lifecycle-events = INFO
            cluster { 
              seed-nodes = ["akka.tcp://magazine-system@localhost:8090"]
              roles = [webapp]
            }
					}
			]]>
    </hocon>
  </akka>
</configuration>