<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            loglevel = INFO
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
              debug {  
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
						}
						remote {
							helios.tcp {
								port = 0
                hostname = localhost
							}
						}
            log-remote-lifecycle-events = INFO
            cluster { 
              seed-nodes = ["akka.tcp://magazine-system@localhost:8090"]
              roles = [webapp]
            }
					}
			]]>
    </hocon>
  </akka>
 </configuration>