<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false"
                stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
  </system.webServer>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            log-config-on-start = on
            stdout-loglevel = DEBUG
            loglevel = ERROR
						actor {
							provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              debug {  
                receive = off 
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
						}
						
						remote {
							log-remote-lifecycle-events = DEBUG
							
							helios.tcp {
								transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								applied-adapters = []
								transport-protocol = tcp
								#will be populated with a dynamic host-name at runtime if left uncommented
								#public-hostname = "POPULATE STATIC IP HERE"
								hostname = "0.0.0.0"
                public-hostname = "localhost"
                dns-use-ipv6 = true
								port = 0
							}
						}            
					}
			]]>
    </hocon>
  </akka>
</configuration>