<configuration>
  
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            suppress-json-serializer-warning = on
            loglevel = INFO
            log-remote-lifecycle-events = INFO
            serializers {
              wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
            }
            serialization-bindings {
              "Cik.Magazine.Core.Views.CategoryViewResponse, Cik.Magazine.Core" = wire
            }
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
              deployment {
                /category-query-group {
                  router = round-robin-group
                  routees.paths = [
                    "akka.tcp://magazine-system@localhost:8092/user/category-query"
                    #"akka.tcp://magazine-system@localhost:8099/user/category-query",
                  ]
                }
                /category-commander-group {
                  router = round-robin-group
                  routees.paths = [
                    "akka.tcp://magazine-system@localhost:8092/user/category-commander"
                  ]
                }
              }
              debug {  
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
						}
						remote {
							helios.tcp {
                transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
		            applied-adapters = []
		            transport-protocol = tcp
								port = 0
                hostname = localhost
							}
						}
            cluster { 
              seed-nodes = ["akka.tcp://magazine-system@localhost:8090"]
              auto-down-unreachable-after = 10s
              roles = [webapi]
            }
					}
			]]>
    </hocon>
  </akka>
</configuration>