<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            suppress-json-serializer-warning = on
            log-remote-lifecycle-events = INFO
            loglevel = INFO
            serializers {
              wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
            }
            serialization-bindings {
            }
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
              debug {  
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
						}
						remote {
							helios.tcp {
                transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
		            applied-adapters = []
		            transport-protocol = tcp
								port = 8099
                hostname = localhost
							}
						}
            cluster { 
              seed-nodes = ["akka.tcp://magazine-system@localhost:8090"]
              auto-down-unreachable-after = 10s
              roles = [pm]
            }
            persistence {
              publish-plugin-commands = on
              journal {
                  plugin = "akka.persistence.journal.mongodb"
                  mongodb {
                      # qualified type name of the MongoDb persistence journal actor
                      class = "Akka.Persistence.MongoDb.Journal.MongoDbJournal, Akka.Persistence.MongoDb"

                      # connection string used for database access
                      connection-string = "mongodb://127.0.0.1:27017/magazine_store"

                      # should corresponding journal table's indexes be initialized automatically
                      auto-initialize = on

                      # dispatcher used to drive journal actor
                      plugin-dispatcher = "akka.actor.default-dispatcher"

                      # MongoDb collection corresponding with persistent journal
                      collection = "EventJournal"

                      # metadata collection
                      metadata-collection = "Metadata"
                  }
              }
              snapshot-store {
                  plugin = "akka.persistence.snapshot-store.mongodb"
                  mongodb {
                      # qualified type name of the MongoDB persistence snapshot actor
                      class = "Akka.Persistence.MongoDb.Snapshot.MongoDbSnapshotStore, Akka.Persistence.MongoDb"

                      # connection string used for database access
                      connection-string = "mongodb://127.0.0.1:27017/magazine_store"

                      # should corresponding snapshot's indexes be initialized automatically
                      auto-initialize = on

                      # dispatcher used to drive snapshot storage actor
                      plugin-dispatcher = "akka.actor.default-dispatcher"

                      # MongoDb collection corresponding with persistent snapshot store
                      collection = "SnapshotStore"
                  }
              }
            }
					}
			]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>